<nav>
  <div class="title">
    <a href="{{ site.baseurl }}/">{{ site.title}}</a>
  </div>

  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle">

  <div class="menu">
    <a href="{{ prepend: site.baseurl }}/about">
      about
    </a>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
      twitter
    </a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
      github
    </a>
    <a href="mailto:{{ site.email }}" target="_blank">
      email
    </a>
  </div>
</nav>
