<div class="navbar">
  <div class="title">
    <a href="{{ site.baseurl }}/">{{ site.title}}</a>
  </div>

  <ul class="right">
    <li><a href="{{prepend: site.baseurl }}/about">about</a></li>
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        twitter
      </a>
    </li>
    <li>
      <a href="https://github.com/{{ site.github_username }}" target="_blank">
        github
      </a>
    </li>
    <li>
      <a href="mailto:{{ site.email }}" target="_blank">
        email
      </a>
    </li>
  </ul>
</div>

