@import "grid";
@import "utils";
@import "variables";
@import "typography";
@import "blockquote";
@import "table";
@import "navbar";
@import "syntax-solarized-light";

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.index-post {
  margin-bottom: 20px;
}

.index-post__date {
  font-size: 16px;
}

.index-post__title {
  font-size: 32px;
}

.view-post__category {
  color: var(--secondary-color);
}
