:root {
  --height: 65px;
}

nav {
  background-color: var(--background-color);
  height: auto;
  line-height: var(--height);
  min-height: var(--height);
  padding: 0 15px;
  margin-bottom: 35px;

  & .title a {
    color: var(--white) !important;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin: 0 16px;
  }

  & .menu {
    text-align: center;
    width: 100%;
    display: none;

    & a {
      background-color: var(--background-color);
      color: var(--gray) !important;
      text-decoration: none;
      font-size: 18px;
      line-height: var(--height);

      clear: right;
      display: block;
      margin: 0;

      &:hover {
        color: var(--white) !important;
        transition: color .2s ease-in-out;
      }

      & svg {
        width:  18px;
        height: 18px;
        fill: var(--gray);

        &:hover {
          fill: var(--white);
          transition: fill .2s ease-in-out;
        }
      }
    }
  }


  & label {
    color: var(--gray);
    font-size: 26px;
    line-height: var(--height);
    cursor: pointer;
    margin: 0 16px;

    display: block;
    width: 26px;
    float: right;
  }

  & #toggle {
    display: none;
  }

  & #toggle:checked + .menu {
    display: block;
  }
}


@media only screen and (min-width: 640px) {
  nav {
    & .menu {
      margin: 0 16px 0 0;
      text-align: right;
      display: block;

      & a {
        margin: 0 20px;
        display: inline-block;
      }
    }

    & label {
      display: none;
    }
  }
}
