:root {
  --white:        #f2f2f2;
  --dark-matter:  #1b1918;
  --lighter-dark: #211f1d;
  --high-blue:    #45aaf2;
  --gray:         #606060;

  --background-color: var(--dark-matter);
  --foreground-color: var(--white);
  --secondary-color:  var(--high-blue);

  --latin-font: 'Open Sans', sans-serif;
  --monospace-font: 'Fira Mono', monospace;
}
